@import "tailwindcss";

@theme {
  --color-primary: #6b5677;
  --color-on-primary: #ffffff;
  --color-primary-container: #f3e8ff;
  --color-on-primary-container: #251431;
  --color-secondary: #7c5261;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #ffd9e2;
  --color-on-secondary-container: #31101d;
  --color-tertiary: #7e5733;
  --color-on-tertiary: #ffffff;
  --color-background: #fef7fe;
  --color-on-background: #1e1a1d;
  --color-surface: #fef7fe;
  --color-on-surface: #1e1a1d;
  --color-surface-variant: #ece0e9;
  --color-on-surface-variant: #4d444c;
  --color-outline: #7e747d;
  --color-outline-variant: #cfc4cd;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f8f1f7;
  --color-surface-container: #f2ebf1;
  --color-surface-container-high: #ece6eb;
  --color-surface-container-highest: #e7e0e5;
  --color-surface-dim: #dfd8df;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --font-sans: "Be Vietnam Pro", sans-serif;
  --font-serif: "Noto Serif", serif;

  --radius-sm: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;
  --spacing-2xl: 8rem;
  --spacing-3xl: 16rem;
  --spacing-4xl: 32rem;
  --spacing-5xl: 64rem;
  --spacing-6xl: 128rem;
}

@layer base {
  body {
    @apply min-h-screen bg-white font-sans text-on-surface;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-serif {
    font-family: "Noto Serif", serif;
  }
}
